<%  include partials/header %>

<h1>This is the home page!</h1>

<img src="https://assets.simpleviewcms.com/simpleview/image/upload/c_fill,h_300,q_75,w_800/v1/clients/houston/Downtownsunrise3_creditTerryThorn_210cc369-7f96-42cc-835b-1999ed42ae83.jpg">
    
 <%  include partials/footer %>